<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chamados BRA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../Home/Index"><img src="~/Images/logo_Web.png" width="50" height="50" /></a>
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["PerfilUsuario"] != null)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Novo Chamado", "Create", "Chamado")</li>
                        <li>@Html.ActionLink("Acompanhar Chamados", "Index", "Chamado")</li>
                        @if (Session["PerfilUsuario"].ToString().Equals("1"))
                        {
                            <li>@Html.ActionLink("Obras", "Index", "Obra")</li>                            
                        }
                        @if (Session["PerfilUsuario"].ToString().Equals("1") || Session["PerfilUsuario"].ToString().Equals("6"))
                        {
                            <li>@Html.ActionLink("Setores", "Index", "Setor")</li>
                        }
                        <!--<li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Chamados BRA</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
