@model prj_chamadosBRA.Models.Chamado
@if (Session["PerfilUsuario"].ToString() != "1")
            {
<div class="form-group">
    @Html.Label("Setor Destino", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.SetorDestino, new SelectList(new prj_chamadosBRA.Repositories.SetorDAO().BuscarSetoresPorObra(ViewBag.SetorDestino), "Id", "Nome"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SetorDestino, "", new { @class = "text-danger validacaoSetor" })
    </div>
</div>
            }
            else
            {
<div class="form-group">
    @Html.Label("Setor Destino", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.SetorDestino, new SelectList(string.Empty, "Id", "Nome"), "-- Selecione o Setor --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SetorDestino, "", new { @class = "text-danger" })
    </div>
</div>
            }
