@model IEnumerable<prj_chamadosBRA.Models.Chamado>

@{
    ViewBag.Title = "Acompanhamento de Chamados";
}

<h2>Acompanhamento de Chamados @ViewBag.NomeObra</h2>

<p>
    @Html.ActionLink("Novo Chamado", "Create", null, new { @class = "btn btn-default" })
</p>
<div class="modal" id="modal">

</div>
<table class="table" data-row-style="rowStyle">
    <tr>
        <th>
            @Html.DisplayName("Chamado N°")
        </th>
        <th>
            @Html.DisplayName("Abertura")
        </th>
        <th>
            @Html.DisplayName("Solicitante")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assunto)
        </th>
        <th>
            @Html.DisplayName("Responsavel")
        </th>
        @if ((bool)Session["ObraVisivel"])
        {
            <th>
                @Html.DisplayName("Obra")
            </th>
        }
        @if ((bool)Session["SetorVisivel"])
        {
            <th>
                @Html.DisplayName("Setor")
            </th>
        }
        @if (Session["PerfilUsuario"].ToString() == "2")
        {
            <th>
                @Html.DisplayName("Visualizar")
            </th>
        }


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (Session["PerfilUsuario"].ToString() == "2")
                {
                    @Html.DisplayFor(modelItem => item.Id)
                }
                else
                {
                    @Html.ActionLink(item.Id.ToString(), "Edit", new { id = item.Id })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraAbertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelAberturaChamado.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelChamado.Nome)
            </td>
            @if ((bool)Session["ObraVisivel"])
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ObraDestino.Descricao)
                </td>
            }
            @if ((bool)Session["SetorVisivel"])
            {
                <td>
                    @if (item.SetorDestino != null)
                    {
                        @Html.DisplayFor(modelItem => item.SetorDestino.Nome)
                    }
                    else
                    {
                        @Html.Label("Setor Indefinido")
                    }
                </td>
            }
            @if (Session["PerfilUsuario"].ToString() == "2")
            {
                <td align="center">
                    <button class="btn btn-default details" data-id="@item.Id"><i class="glyphicon glyphicon-file"></i></button>
                </td>
            }


        </tr>
    }

</table>

@section scripts{

}
