@model PagedList.IPagedList<prj_chamadosBRA.Models.Chamado>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Acompanhamento de Chamados";
}
<h2>Acompanhamento de Chamados @ViewBag.NomeObra</h2>
<p>
    @Html.ActionLink("Novo Chamado", "Create", null, new { @class = "btn btn-default" })
</p>
<div class="modal" id="modal">
</div>
@if (Session["PerfilUsuario"].ToString() != "2" || Session["PerfilUsuario"].ToString() != "4")
{
    using (Html.BeginForm("Index", "Chamado", FormMethod.Post, new { @class = "form-inline" }))
    {

        @Html.Label("Tipo Chamado:", new { @class = "control-label" })
        <label>&nbsp;</label>
        @Html.DropDownList("TipoChamado")
    }
}
@Html.Hidden("pageAtual", Model.PageNumber)
<p></p>
<table class="table" data-row-style="rowStyle">
    <tr>
        <th>
            @Html.DisplayName("Chamado N°")
        </th>
        <th>
            @Html.DisplayName("Abertura")
        </th>
        <th>
            @Html.DisplayName("Solicitante")
        </th>
        <th>
            @Html.DisplayName("Assunto")
        </th>
        <th>
            @Html.DisplayName("Responsavel")
        </th>
        @if ((bool)Session["ObraVisivel"])
        {
            <th>
                @Html.DisplayName("Obra")
            </th>
        }
        @if ((bool)Session["SetorVisivel"])
        {
            <th>
                @Html.DisplayName("Setor")
            </th>
        }
        <th>
            @Html.DisplayName("Tipo Chamado")
        </th>
        @if (Session["PerfilUsuario"].ToString() == "2" || Session["PerfilUsuario"].ToString() == "4")
        {
            <th>
                @Html.DisplayName("Visualizar")
            </th>
        }

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (Session["PerfilUsuario"].ToString() == "2" || Session["PerfilUsuario"].ToString() == "4")
                {
                    @Html.DisplayFor(modelItem => item.Id)
                }
                else
                {
                    @Html.ActionLink(item.Id.ToString(), "Edit", new { id = item.Id })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraAbertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelAberturaChamado.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelChamado.Nome)
            </td>
            @if ((bool)Session["ObraVisivel"])
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ObraDestino.Descricao)
                </td>
            }
            @if ((bool)Session["SetorVisivel"])
            {
                <td>
                    @if (item.SetorDestino != null)
                    {
                        @Html.DisplayFor(modelItem => item.SetorDestino.Nome)
                    }
                    else
                    {
                        @Html.Label("Setor Indefinido")
                    }
                </td>
            }
            <td>
                @if (item.TipoChamado == 1)
                {
                    <p>Totvs RM</p>
                }
                else if (item.TipoChamado == 2)
                {
                    <p>Outros</p>
                }
                else
                {
                    <p>Indefinido</p>
                }
            </td>
            @if (Session["PerfilUsuario"].ToString() == "2" || Session["PerfilUsuario"].ToString() == "4")
            {
                <td align="center">
                    <button class="btn btn-default details" data-id="@item.Id"><i class="glyphicon glyphicon-file"></i></button>
                </td>
            }

        </tr>
    }
</table>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    @Html.Hidden("notice", @TempData["notice"])
    @if (TempData["notice"] != null)
    {
        <div id="modalNotice" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Mensagem</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-success"><strong>@TempData["notice"]</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>

            </div>
        </div>
    }
    @section scripts{
        <script>
            $(window).load(function () {
                if ($('#notice').val() != "") {
                    //alert($('#notice').val());
                    $('#modalNotice').modal({ show: true });
                }
            });

            $('#TipoChamado').change(function () {
                window.location.href = '/Chamado/Index/page=' + $('#pageAtual').val() + '?tipochamado=' + $('#TipoChamado').val();
            });
        </script>
        <script>
            jQuery(document).ready(function ($) {
                $(function () {
                    $(".details").click(function () {
                        var id = $(this).attr("data-id");
                        $("#modal").load("../Chamado/Details/" + id, function () {
                            $("#modal").modal({ show: true });
                        })
                    });
                })
            });
        </script>
    }
