@model IEnumerable<prj_chamadosBRA.Models.Chamado>

@{
    ViewBag.Title = "Acompanhamento de Chamados";
}

<h2>Acompanhamento de Chamados</h2>

<p>
    @Html.ActionLink("Novo Chamado", "Create")
</p>
<table class="table" data-row-style="rowStyle">
    <tr>
        <th>
            @Html.DisplayName("Chamado N°")
        </th>
        <th>
            @Html.DisplayName("Abertura")
        </th>
        <th>
            @Html.DisplayName("Solicitante")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assunto)
        </th>
        <th>
            @Html.DisplayName("Responsavel")
        </th>
        <th>
            @if ((bool)Session["SetorVisivel"])
            {
                @Html.DisplayName("Setor")
            }
            @if ((bool)Session["ObraVisivel"])
            {
                @Html.DisplayName("Obra")
            }
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (Session["PerfilUsuario"].ToString() == "2")
                {
                    @Html.DisplayFor(modelItem => item.Id)
                }
                else
                {
                    @Html.ActionLink(item.Id.ToString(), "Edit", new { id = item.Id })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraAbertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelAberturaChamado.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelChamado.Nome)
            </td>
            <td>
                @if ((bool)Session["SetorVisivel"])
                {
                    @Html.DisplayFor(modelItem => item.SetorDestino.Nome)
                }
                @if ((bool)Session["ObraVisivel"])
                {
                    @Html.DisplayFor(modelItem => item.ObraDestino.Descricao)
                }
            </td>
        </tr>
    }

</table>
<script>
    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];

        if (index % 2 === 0 && index / 2 < classes.length) {
            return {
                classes: classes[index / 2]
            };
        }
        return {};
    }
</script>
