@model IEnumerable<prj_chamadosBRA.Models.ApplicationUser>

@{
    ViewBag.Title = "Cadastro de Usuários";
}

<h2>Cadastro de Usuários</h2>

<p>
    @Html.ActionLink("Novo Usuário", "Register", null, new { @class = "btn btn-default" })
</p>
@using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.Label("Consultar:", new { @class = "control-label" })
    <label>&nbsp;</label>
    @Html.TextBox("filtro", "", new { @class = "form-control", placeholder = "usuario, nome...", Style = "max-width:600px" })
    <input type="submit" value="Consultar" class="btn btn-default" />
}
<p></p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Usuário")
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.PerfilUsuario)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contato)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*<td>
                    @Html.Display(new prj_chamadosBRA.Repositories.PerfilUsuarioDAO().BuscarPerfil(item.PerfilUsuario).Descricao)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato)
            </td>
            <th>
                @Html.ActionLink("Editar", "Edit", "Account", new { id = item.Id }, new { @class = "btn btn-default" })
            </th>
        </tr>
    }

</table>
@Html.Hidden("notice", @TempData["notice"])
@if (TempData["notice"] != null)
{
    <div id="modalNotice" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mensagem</h4>
                </div>
                <div class="modal-body">
                    <p class="text-success"><strong>@TempData["notice"]</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>
}

@section scripts{
    <script>
        $(window).load(function () {
            if ($('#notice').val() != "") {
                //alert($('#notice').val());
                $('#modalNotice').modal({ show: true });
            }
        });
    </script>
}
