@model prj_chamadosBRA.Models.EncerramentoTarefaViewModel

@{
    Layout = null;
    ViewBag.Title = "Entrega da Tarefa N. " + Model.Id;
}
<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Entrega da Tarefa do Chamado N. @Model.Chamado.Id</h4>
            </div>
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Assunto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayTextFor(model => model.Assunto)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayTextFor(model => model.Descricao)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DataAbertura, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayTextFor(model => model.DataAbertura)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Solicitante, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayTextFor(model => model.Solicitante.Nome)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Responsavel, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayTextFor(model => model.Responsavel.Nome)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DataEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DataEntrega, new { htmlAttributes = new { @class = "form-control datepicker", Style = "max-width:100px" } })
                            @Html.ValidationMessageFor(model => model.DataEntrega, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Hora da Entrega", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10 date" id='timepicker'>
                            @Html.Editor("hora", new { htmlAttributes = new { @class = "form-control timepicker", Style = "max-width:70px" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Solucao, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Solucao, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Solucao, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salvar" class="btn btn-default" />
                            <input type="button" value="Fechar" class="btn btn-default" data-dismiss="modal" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        language: 'pt-BR',
        autoclose: true        
    });
    $('#hora').focusin(function () {
        $('#hora').mask("99:99");
    });
</script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


